.btn {
    font: 500 20px Poppins;
    padding: 12px 36px;
    width: 100%;
    border: 2px solid #000;
}
.btn-padrao {
    color: var(--branco);
    border-radius: 28px;
    border-color: var(--lavanda);
    background: var(--lavanda);
}
