@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    label,
    input {
        display: block;
    }
    h1 {
        color: var(--violeta);
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
